@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  font-size: 1vw;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 2.5vw;
  }
}

body {
  position: relative;
  display: block;
  width: 98vw;
  margin: 0 auto;
  padding-top: 3rem;
  background-color: #fff;
  color: #5d7474;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-weight: 900;
  background-image: linear-gradient(to right, #2F4F4F 60%, #20B2AA 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  width: 100%;
  padding: 0;
  padding-top: 5rem;
  overflow: hidden;
}

.section__container {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .section__container {
    width: 90%;
  }
}

.section__title {
  color: #20B2AA;
  letter-spacing: .1rem;
  margin: .5rem 0;
}

.section__header {
  color: #2F4F4F;
  font-weight: 700;
}

.section__divisor {
  height: 2px;
  width: 5rem;
  margin: .5rem 0;
  background-color: #20B2AA;
}

.navbar {
  background-color: #20B2AA;
  color: #fff;
  width: 100%;
  height: 3.5rem;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-around;
    font-size: 1rem;
  }
}

.navbar__logo {
  background-image: linear-gradient(to right, #2F4F4F 60%, #fff 60%);
  font-size: 1.3em;
}

@media screen and (max-width: 768px) {
  .navbar__logo {
    display: none;
  }
}

.navbar__list {
  height: 100%;
  list-style-type: none;
  display: flex;
}

.navbar__item {
  height: 100%;
}

.navbar__item a {
  display: block;
  height: 100%;
  padding: .5rem 1rem;
  transition: background-color 0.2s;
}

.navbar__item a:hover {
  background-color: #fff;
  color: #20B2AA;
  border-bottom: 2px solid #2F4F4F;
}

.header {
  background-image: linear-gradient(53deg, #fafafa 47.9%, #20B2AA 48%);
  position: relative;
}

.header__container {
  height: 43rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__wrapper {
  height: 100%;
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: appear-top;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.header__text {
  padding: 1.2rem 0;
  color: #5d7474;
}

.header__text--hello {
  color: #20B2AA;
  letter-spacing: .15em;
}

.header__text--name {
  color: #2F4F4F;
  font-weight: 900;
}

.header__text--subscript {
  font-size: 1em;
}

.header__button {
  background-color: #20B2AA;
  color: #fff;
  padding: .5rem 1rem;
  width: 14rem;
  font-size: 2rem;
  border-radius: .2em;
  border: 2px solid transparent;
  transition: border .2s, background-color .2s;
}

.header__button:hover {
  border: 2px solid #20B2AA;
  background-color: #fafafa;
  color: #2F4F4F;
  font-weight: bold;
  cursor: pointer;
}

.header__portrait {
  position: relative;
  max-height: 90%;
}

.aboutme__container {
  height: 25rem;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.aboutme__portrait {
  position: relative;
  height: 100%;
  margin-right: 20%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .aboutme__portrait {
    display: none;
  }
}

.aboutme__border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-left: 30vw solid #20B2AA;
  border-top: 8rem solid transparent;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .aboutme__border {
    border-left-width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .aboutme__border {
    visibility: hidden;
  }
}

.aboutme__skills {
  height: 100%;
}

.aboutme__skill-name {
  margin-top: .5rem;
  font-size: 1rem;
}

.aboutme__skill-container {
  position: relative;
  top: .2rem;
  width: 100%;
  height: 1.4rem;
  background-color: #fafafa;
}

.aboutme__skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #20B2AA;
  z-index: 2;
  padding-left: 1rem;
}

.aboutme__skill-bar--ui {
  width: 85%;
}

.aboutme__skill-bar--ui::after {
  content: "85%";
}

.aboutme__skill-bar--web {
  width: 75%;
}

.aboutme__skill-bar--web::after {
  content: "75%";
}

.aboutme__skill-bar--html {
  width: 90%;
}

.aboutme__skill-bar--html::after {
  content: "90%";
}

.aboutme__skill-bar--wordpress {
  width: 65%;
}

.aboutme__skill-bar--wordpress::after {
  content: "65%";
}

.experience__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing {
  padding-bottom: 3rem;
  background-color: #fafafa;
}

.pricing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .pricing__wrapper {
    flex-direction: column;
  }
}

.pricing__plan {
  margin: 1rem 0;
  border-radius: .3rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 2px 5px 5px;
  transition: box-shadow .1s ease-out;
}

.pricing__plan:hover {
  cursor: default;
  box-shadow: 4px 10px 6px;
}

.pricing__heading {
  display: inline-block;
}

.pricing__list {
  list-style-type: circle;
  list-style-position: inside;
  clear: both;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .pricing__list {
    display: inline-block;
    clear: none;
    float: right;
  }
}

.pricing__name {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #2F4F4F;
}

.pricing__price {
  font-size: 2rem;
  font-weight: 900;
  color: #20B2AA;
  margin-bottom: .3rem;
}

.pricing__subscript {
  font-size: .8rem;
}

.pricing__hr {
  margin: .3rem 0;
  border-color: #20B2AA;
}

.pricing__button {
  clear: right;
  float: left;
  padding: .7rem;
  font-size: 1.2rem;
  color: #2F4F4F;
  border: 2px solid #2F4F4F;
  background-color: #fff;
  border-radius: 2rem;
  transition: background-color .3s, color .3s;
}

.pricing__button:hover {
  cursor: pointer;
  background-color: #20B2AA;
  color: #fff;
  border-color: transparent;
}

.contact {
  background-color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.contact__container {
  background-color: #20B2AA;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 100%;
}

.contact__form {
  width: 100%;
}

.contact__header {
  font-weight: 500;
  font-size: 1.5rem;
}

.contact__label {
  display: inline-block;
  font-size: 1.2rem;
}

.contact__input {
  width: 100%;
  padding: .5rem;
  font-size: 1.1rem;
  font-family: unset;
}

.contact__input--textarea {
  resize: vertical;
}

.contact__button {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .3rem .8rem;
  margin-top: 1.8rem;
  border: 2px solid transparent;
  float: right;
  border-radius: .4rem;
  color: #fff;
  background-color: #2F4F4F;
  transition: all .2s;
}

.contact__button:hover {
  color: #20B2AA;
  background-color: #fff;
  border: 2px solid #2F4F4F;
  cursor: pointer;
}

.footer {
  padding: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.footer__logo {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.footer__mail {
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.footer__credits {
  font-weight: normal;
  font-size: 1.2rem;
}

.footer__credits a {
  text-decoration: underline;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: .5rem;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: .5rem;
}

.col-100 {
  margin-top: .5rem;
  float: left;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

@keyframes appear-top {
  from {
    top: 75vh;
  }
  to {
    top: 0;
  }
}
